@use "sass:color"; // color 모듈을 사용하기 위해 선언합니다.
@use "./globals.scss" as globals; // globals 파일의 실제 경로에 맞게 수정해주세요.

div.star {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 2px;
  float: left;
  background-color: color.adjust(globals.$light-grey, $lightness: -40%); /* darken() 함수를 color.adjust()로 대체하고, globals.$light-grey 사용 */
  clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);

  &.selected {
    background-color: globals.$red; /* globals 모듈에서 $red 변수를 가져와 사용합니다. */
  }
}