@use "./globals.scss" as globals; // globals 파일의 실제 경로에 맞게 수정해주세요.

nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;

  h1 {
    display: none;
  }

  a {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 2em;
    text-decoration: none;
    padding: .5em;

    &.selected {
      color: globals.$red; // globals 모듈에서 $red 변수를 가져와 사용합니다.
    }
  }
}